/* style.css */
body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    background-color: #17a9ec;
    color: #fff;
    padding: 8px;
    text-align: center;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    text-align: center;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    padding: 30px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  form label, form textarea, form input {
    display: block;
    margin-bottom: 20px;
  }
  
  form input[type="submit"] {
    background-color: #172ad1;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #1ce92d;
    color: #0e0d0d;
    padding: 5px;
    text-align: center;
  }
  img {
    width: 150px;
    height: 150px;
    margin: 2px;
    float: center;
    margin-right: auto;
    display: block;
  }
  
  